@charset "utf-8";

body{
    margin: 0px;
}
p{
    margin: 0px;
    border: 1px solid #f00;
    text-align: center;
}
div{
    border: 1px solid #000;
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
}
#dv1{ 
    padding: 100px;  
}
#dv2{ 
    padding: 100px 50px 100px 50px;  
}
